<a href="https://colab.research.google.com/github/JiachengTan/JackTan666/blob/main/Data_Manipulations_(Slide1_15).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [6]:
from pandas import read_csv

In [15]:
filename = '/OnlineRetail.csv'

In [18]:
names = ['InvNo', 'SKU', 'Descr', 'Qty', 'InvDate', 'UnitP', 'CusID', 'Cntry']

In [16]:
sales = read_csv(filename, header=0, names=names, encoding="ISO-8859-1")

In [19]:
# Drop some columns
sales.drop('Descr', axis=1, inplace=True)

In [ ]:
# group by customer ID
by_customer = sales.groupby('CusID')
by_customer.head()

In [26]:
# Aggregate transactions in sales by "counting SKU"
# We are only counting the number of rows that contain an entry for SKU
count_by_customer = by_customer['SKU'].count()
print(count_by_customer)

CusID
12346.0      2
12347.0    182
12348.0     31
12349.0     73
12350.0     17
          ...
18280.0     10
18281.0      7
18282.0     13
18283.0    756
18287.0     70
Name: SKU, Length: 4372, dtype: int64

In [27]:
# Now we group by customer ID and StockCode
by_customer_SKU = sales.groupby(['CusID','SKU'])

In [28]:
# Group by SKU and sum up Qty
print(sales.groupby('SKU')['Qty'].sum())

SKU
10002           1037
10080            495
10120            193
10123C           -13
10123G           -38
                ...
gift_0001_20      20
gift_0001_30      37
gift_0001_40       3
gift_0001_50       4
m                  1
Name: Qty, Length: 4070, dtype: int64

In [33]:
# How many of each SKU have been sold to each customer? 
customer_summary = sales.groupby(['CusID','SKU'])['Qty'].sum()
customer_summary

CusID    SKU
12346.0  23166       0
12347.0  16008      24
         17021      36
         20665       6
         20719      40
                  ...
18287.0  84920       4
         85039A     96
         85039B    120
         85040A     48
         85173      48
Name: Qty, Length: 267615, dtype: int64

In [32]:
# Group by InvNo and find the average unit price
print(sales.groupby('InvNo')['UnitP'].mean())

InvNo
536365       3.910000
536366       1.850000
536367       4.853333
536368       4.775000
536369       5.950000
              ...
C581484      2.080000
C581490      1.390000
C581499    224.690000
C581568     10.950000
C581569      1.250000
Name: UnitP, Length: 25900, dtype: float64

In [34]:
# Group by  Country
by_country = sales.groupby('Cntry')

In [38]:
# Select Qty and UnitP
by_country_sub = by_country[['Qty','UnitP']]

In [ ]:
# Aggregate columbs in the sub dataframe by 'max' and 'median' 
# Use the method .agg()
aggregated = by_country_sub.agg(['max','median'])

In [ ]:
# find the maximum Qty for each country
print(aggregated[('Qty','max')].sort_values())

In [ ]:
# find the median UnitP for each country
print(aggregated[('UnitP','median')])

In [45]:
aggregated.head()

            Qty          UnitP
            max median     max median
Cntry
Australia  1152   24.0  350.00   1.79
Austria     288    9.0   40.00   1.95
Bahrain      96    6.0   12.75   3.81
Belgium     272   10.0   39.95   1.95
Brazil       24   10.0   10.95   3.32

In [50]:
# Group by Cntry and CusID using the level parameter:
sales = read_csv(filename, header=0, names=names, encoding='ISO-8859-1',
                 index_col=['Cntry','CusID','InvNo','SKU'])
by_country_customer = sales.groupby(level=['Cntry','CusID'])
print(by_country_customer.count())

                        Descr  Qty  InvDate  UnitP
Cntry          CusID
Australia      12386.0     10   10       10     10
               12388.0    100  100      100    100
               12393.0     64   64       64     64
               12415.0    778  778      778    778
               12422.0     21   21       21     21
...                       ...  ...      ...    ...
United Kingdom 18287.0     70   70       70     70
Unspecified    12363.0     23   23       23     23
               12743.0    134  134      134    134
               14265.0     31   31       31     31
               16320.0     56   56       56     56

[4380 rows x 4 columns]

In [51]:
# To "flatten" the multi-level row index:
by_country_customer = sales.groupby(level=['Cntry','CusID'])
ccc = by_country_customer.count()
ccc1 = ccc.reset_index()
print (ccc)

                        Descr  Qty  InvDate  UnitP
Cntry          CusID
Australia      12386.0     10   10       10     10
               12388.0    100  100      100    100
               12393.0     64   64       64     64
               12415.0    778  778      778    778
               12422.0     21   21       21     21
...                       ...  ...      ...    ...
United Kingdom 18287.0     70   70       70     70
Unspecified    12363.0     23   23       23     23
               12743.0    134  134      134    134
               14265.0     31   31       31     31
               16320.0     56   56       56     56

[4380 rows x 4 columns]

In [52]:
print (ccc1)

               Cntry    CusID  Descr  Qty  InvDate  UnitP
0          Australia  12386.0     10   10       10     10
1          Australia  12388.0    100  100      100    100
2          Australia  12393.0     64   64       64     64
3          Australia  12415.0    778  778      778    778
4          Australia  12422.0     21   21       21     21
...              ...      ...    ...  ...      ...    ...
4375  United Kingdom  18287.0     70   70       70     70
4376     Unspecified  12363.0     23   23       23     23
4377     Unspecified  12743.0    134  134      134    134
4378     Unspecified  14265.0     31   31       31     31
4379     Unspecified  16320.0     56   56       56     56

[4380 rows x 6 columns]

In [ ]:
# Parsing Dates
## Parsing InvDate as date
sales = read_csv(filename, header=0, names=names, encoding='ISO-8859-1', parse_dates=['InvDate'])
print(sales.head())

In [54]:
# Parsing InvDate as date and making it the index
sales = read_csv(filename, header=0, names=names, encoding='ISO-8859-1', 
                 index_col='InvDate',parse_dates=True)
print(sales.head())

                      InvNo     SKU                                Descr  Qty  \
InvDate
2010-12-01 08:26:00  536365  85123A   WHITE HANGING HEART T-LIGHT HOLDER    6
2010-12-01 08:26:00  536365   71053                  WHITE METAL LANTERN    6
2010-12-01 08:26:00  536365  84406B       CREAM CUPID HEARTS COAT HANGER    8
2010-12-01 08:26:00  536365  84029G  KNITTED UNION FLAG HOT WATER BOTTLE    6
2010-12-01 08:26:00  536365  84029E       RED WOOLLY HOTTIE WHITE HEART.    6

                     UnitP    CusID           Cntry
InvDate
2010-12-01 08:26:00   2.55  17850.0  United Kingdom
2010-12-01 08:26:00   3.39  17850.0  United Kingdom
2010-12-01 08:26:00   2.75  17850.0  United Kingdom
2010-12-01 08:26:00   3.39  17850.0  United Kingdom
2010-12-01 08:26:00   3.39  17850.0  United Kingdom

In [58]:
# For non-standard datatime parsing, use pd.to_datetime after pd.read_csv
## sales['InvDate'] = pd.to_datetime(sales['InvDate'],format='%Y-%m-%d %H:%M')

In [ ]:
# Grouping by Weekday
## parsing InvDate as date
sales = read_csv(filename, header=0, names=names, encoding='ISO-8859-1', parse_dates=['InvDate'])
print(sales.head())

In [64]:
by_day = sales.groupby(sales.InvDate.dt.strftime('%a'))

In [66]:
# How many units were sold each weekday? 
qty_sum = by_day['Qty'].sum()
print(qty_sum.sort_values(ascending=False))

InvDate
Thu    1167823
Wed     969558
Tue     961543
Mon     815354
Fri     794440
Sun     467732
Name: Qty, dtype: int64

In [67]:
# Following a natural weekday ordering, categories are: 
cats = ['Mon','Tue','Wed','Thur','Fri','Sat','Sun']
qty_sum.reindex(cats)

InvDate
Mon     815354.0
Tue     961543.0
Wed     969558.0
Thur         NaN
Fri     794440.0
Sat          NaN
Sun     467732.0
Name: Qty, dtype: float64

In [1]:
# Detecting outliers with Z-scores

In [2]:
from scipy.stats import zscore

In [69]:
standardized = zscore(sales['Qty'])

In [70]:
standardized

0        -0.016289
1        -0.016289
2        -0.007118
3        -0.016289
4        -0.016289
            ...
541904    0.011224
541905   -0.016289
541906   -0.025460
541907   -0.025460
541908   -0.030045
Name: Qty, Length: 541909, dtype: float64

In [71]:
pd.Series(standardized).head()

0   -0.016289
1   -0.016289
2   -0.007118
3   -0.016289
4   -0.016289
Name: Qty, dtype: float64

In [72]:
# Detecting Outliers with Z-Scores
sales = sales.dropna()

In [73]:
standardized = pd.DataFrame(sales.groupby('CusID')['Qty'].transform(zscore))

In [74]:
standardized

             Qty
0       0.213248
1       0.213248
2       0.956637
3       0.213248
4       0.213248
...          ...
541904  0.545015
541905 -0.394458
541906 -0.707616
541907 -0.707616
541908 -0.864195

[406829 rows x 1 columns]